.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 0.5 ease;
}
.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20);
  transition: 3.5ease;
}
